.dropdown-menu:before {
    border: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    content: "";
    display: inline-block;
    position: absolute;
    top: -16px;
    left: 9px;
}

.dropdown-menu:after {
    border: 7px solid transparent;
    border-bottom-color: #fff;
    content: "";
    display: inline-block;
    position: absolute;
    top: -14px;
    left: 10px;
}

.dropdown-menu.right:before {
    left: auto;
    right: 9px;
}

.dropdown-menu.right:after {
    left: auto;
    right: 10px;
}

.dropdown-menu > li {
    margin: 0;
    padding: 0;
}

.dropdown-menu > li > a {
    display: block;
    margin: 0;
    padding: 8px 12px;
}

.dropdown-menu > li > a:hover {
    background-color: #F9F9F9;
}
