.loading-state {
    background: url(/SharedResources/img/classic/ajax-loader-small.gif) no-repeat left top;
    display: block;
    height: 2em;
}

.dialog-error {
    border-left: 2px solid #F00 !important;
    margin: .5em !important;
}

.dialog-warn {
    border-left: 2px solid #F90 !important;
    margin: .5em !important;
}


/* dialog-filter */

.dialog-filter {
    background-color: #F6F5F3;
    border-bottom: 1px solid #D9D9D9;
    padding: .3em;
    text-align: left;
}

.dialog-filter input[type=text] {
    border: 1px solid #AAA;
    padding: .3em;
    width: 100%;
}


/* tree */

.tree {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree header {
    border-bottom: 1px solid #D9D9D9;
    font-weight: bold;
    margin-top: 4px;
    padding: 2px;
}

.tree ul {
    margin: 0;
    padding: 0 0 0 30px;
}

.tree li > label {
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 4px;
}

.tree li > label:hover {
    background-color: #FFF2AD;
}

.tree li > label > input {
    min-height: auto;
}

.tree li > label > input + span {
    display: inline-block;
    margin-left: 8px;
    padding: 2px;
}

.tree li > label > input:checked + span {
    background-color: #fff2ad;
}
