.layout .header {
    background: #fff59d url(../img/yellow_background.jpg) 0 0 no-repeat;
    background-size: cover;
    color: #494949;
}

@media (min-width: 768px) {
    .navbar-header {
        width: auto;
    }
}
