.timeline {
    border: none;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.timeline > li {
    margin: 0;
    padding: 2px;
}

.timeline i.fa {
    display: inline-block;
    font-size: 14px;
    padding: 4px;
    vertical-align: middle;
}

.timeline-user {
    display: inline-block;
    font-weight: bold;
    font-size: .85em;
    padding: 4px;
}

.timeline time {
    display: inline-block;
    padding: 4px;
}

.timeline-coord,
.timeline-change {
    border: 1px solid #EEE;
    border-radius: 2px;
    padding: 0px;
}

.timeline-coord header,
.timeline-change header {
    background: #FFF;
    color: #666;
    display: inline-block;
    padding: 4px;
}

.timeline-coord header + p,
.timeline-change header + p {
    color: #444;
    display: inline-block;
    margin: 0;
    padding: 8px;
}

.timeline-coord header + p {
    display: block;
}

.timeline-change header + p {
    float: left;
}

.timeline-coord p i {
    width: 26px;
}

.timeline i.fa.coord-icon {
    font-size: 18px;
    width: 30px;
}

.coord-start.coord-icon {}

.coord-agree.coord-icon {
    color: green;
}

.coord-revision.coord-icon {
    color: blue;
}

.coord-reject.coord-icon {
    color: red;
}
