img{border:none;}
html{margin:0px;padding:0px;}
.ui-widget-overlay{
	cursor:wait;
}
.button_img { width:15px; height:15px; margin-right:3px; vertical-align:top}
/* ״נטפע הכ buttons*/
.button_text{font-size:12px; vertical-align:top}
.no_underline {text-decoration:none};

.no_underline:hover {text-decoration:underline !important; color:red}
 a {text-decoration:none !important;}
 a:hover {text-decoration:underline}
.doclink {color:#1A3DC1 !important; text-decoration:none;}
.doclink:hover, .doclink :hover { color:#FF0000 !important; text-decoration:underline !important;}
.doclink font:hover {text-decoration:none;}
.actionlink {text-decoration:none; color:#444444;}
.actionlink font {vertical-align:1px;margin-left:1px;font-size:13px;}
.doclink_action :hover {color:#1A3DC1; text-decoration:underline;}