.human-form {}

.human-form .form-group label {
    display: inline-block;
    width: 80px;
}

.human-states label {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-weight: normal;
    margin: 4px;
    padding: 4px;
}
