.proposal .content-body form {
    padding: 10px 0;
}

.proposal .due-date select {
    display: inline-block;
    vertical-align: top;
    width: auto;
}

.proposal textarea[name=description] {
    min-height: 100px;
}

.proposal .btn-select-assignees {
    border: none;
    padding: 3px;
    position: absolute;
    right: 14px;
}

.proposal .coord-status-label {
    display: inline-block;
    font-weight: normal;
    left: 10px;
    position: relative;
    top: -2px;
}
