.proposal .content-body form {
    padding: 10px 0;
}

.proposal .content-body form fieldset {
    margin: 0;
    padding: 0;
}

.proposal textarea[name=description] {
    min-height: 100px;
}

.proposal .btn-assignees {
    border: none;
    padding: 3px;
    position: absolute;
    right: 4px;
    top: 4px;
}

.proposal .coord-status-label {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    left: 10px;
    position: relative;
    top: -2px;
}

.proposal .about_created {
    border-top: 1px solid #eee;
    padding: 15px;
}

.proposal .about_created span {
    display: inline-block;
    margin: 0 3px;
}


/* coord-list */

.coord-list {
    border: none;
    list-style: none;
    margin: 10px 0;
    padding: 0 0 0 20px;
    position: relative;
}

.coord-list > li {
    padding: 4px 6px 4px 8px;
    position: relative;
}

.coord-list > li + li {
    border-top: 1px solid #eee;
}

.coord-list > .coord-iscurrent-true {}

li.coord-iscurrent-true::before {
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #666;
    top: 50%;
    left: 0px;
    margin-top: -3px;
}

.coord-list header,
.coord-list header + p {
    color: #444;
    display: inline-block;
    margin: 0;
    padding: 4px;
}

.coord-list i {
    font-size: 14px;
    width: 22px;
}

.coord-list.coordination-direction:before {
    background: #ddd;
    content: '';
    display: block;
    font-size: 0;
    height: 100%;
    left: 8px;
    position: absolute;
    top: 0;
    width: 1px;
}

.coordination-direction.up:after,
.coordination-direction.down:after {
    color: #999;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    left: 2px;
    margin-top: -4px;
    position: absolute;
    text-rendering: auto;
    top: 50%;
}

.coordination-direction.up:after {
    content: "\f062";
}

.coordination-direction.down:after {
    content: "\f063";
}

.coord-agree.coord-icon {
    color: green;
}

.coord-disagree.coord-icon {
    color: red;
}
