img{border:none;}
html{margin:0px;padding:0px;}
.ui-widget-overlay{
	cursor:wait;
}
/* ״נטפע הכÿ buttons*/
.button_text{font-size:12px; vertical-align:top}
.button_img { width:15px; height:15px; margin-right:3px; vertical-align:top}
a :hover {text-decoration:underline;}
.doclink {color:#1A3DC1 !important;text-decoration:none;}
.doclink:hover, .doclink :hover { color:#FF0000 !important; text-decoration:underline !important;}
.doclink font:hover {text-decoration:none;}
.actionlink {text-decoration:none; color:#444444;}
.actionlink font {vertical-align:1px;margin-left:1px;font-size:13px;}
.doclink_action :hover {color:#1A3DC1; text-decoration:underline;}